#cookies-table {
    border: dashed 1px black
}

td {
    border: dashed 1px black
}

th {
    border: dashed 1px black
}

tr {
    border: dashed 1px black
}

body {
    background: rgba(255, 175, 161, 0.74)
}